<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Asteroid 3</key>
	<dict>
		<key>angle</key>
		<integer>-1</integer>
		<key>angular_velocity</key>
		<integer>9</integer>
		<key>image</key>
		<string>Planet1.png</string>
		<key>mass</key>
		<integer>20</integer>
		<key>orbital_radius</key>
		<integer>120</integer>
		<key>origin</key>
		<dict>
			<key>x</key>
			<integer>250</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
		<key>radius</key>
		<integer>25</integer>
		<key>surface_temp</key>
		<integer>2</integer>
	</dict>
	<key>Mahirica 1</key>
	<dict>
		<key>angle</key>
		<real>1.3</real>
		<key>angular_velocity</key>
		<integer>7</integer>
		<key>image</key>
		<string>Planet2.png</string>
		<key>mass</key>
		<integer>200</integer>
		<key>orbital_radius</key>
		<integer>40</integer>
		<key>origin</key>
		<dict>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>50</integer>
		</dict>
		<key>radius</key>
		<integer>50</integer>
		<key>surface_temp</key>
		<real>40.5</real>
	</dict>
	<key>Platyplaxus Prime</key>
	<dict>
		<key>angle</key>
		<integer>0</integer>
		<key>angular_velocity</key>
		<integer>5</integer>
		<key>image</key>
		<string>Planet3.png</string>
		<key>mass</key>
		<integer>300</integer>
		<key>orbital_radius</key>
		<integer>102</integer>
		<key>origin</key>
		<dict>
			<key>x</key>
			<integer>40</integer>
			<key>y</key>
			<integer>160</integer>
		</dict>
		<key>radius</key>
		<integer>75</integer>
		<key>surface_temp</key>
		<integer>153</integer>
	</dict>
</dict>
</plist>
